{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Humanity Pitches</h1> 
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {{macro.displayPitches(humanity_pitches)}}
        </div>
        <div class="col-md-4">
            <h1><a class="badge badge-dark" href="{{url_for('main.new_pitch')}}">Add Pitch</a></h1>
        </div>
    </div>
</div>
{% endblock %}