{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1><i>Welcome To You Got This</i></h1>
    <p>The Website That Allows You To View And Submit One Minute Pitches</p>
</div>
<div class="container">
    <h1 style="text-align: center; font-weight: 480;">Sample Pitches</h1>
    <hr>
    <h3 style="text-align: center; font-weight: 480;">Your first time pitching? Checkout our sample pitches</h3>
    <hr>
    <div class="row">
        
        <div class="col-md-4 video">
            <iframe width=390 height=290
            src="https://www.youtube.com/embed/acx9VW2Nkdw">
            </iframe>     
        </div>
        <div class="col-md-4 video">
            <iframe width=390 height=290
            src="https://www.youtube.com/embed/gXwewPgLmkE">
            </iframe>     
        </div>
        <div class="col-md-4 video">
            <iframe width=390 height=290
            src="https://www.youtube.com/embed/t-4r-6N-5rg">
            </iframe>     
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}