{% macro displayPitches(pitches_list) %}
    {% for pitch in pitches_list %}
        <div class="card" style="width: 60rem;">
            <div class="card-title">
                <h3><strong>{{pitch.pitch_title}}</strong></h3>
                
            </div>
            <div class="card-body">
                <p>{{pitch.pitch_content|truncate(100)}}</p>
                <p>Added by: <i>{{pitch.user.username}}, {{pitch.posted}}</i></p>
                <h1><a class="btn btn-primary" href="/pitch/{{pitch.id}}">Vote and Comment</a></h1>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endmacro %}

{% macro displayUsersComments (comments_list) %}
        {% for comment in comments_list %}
            <div class="card" style="width: 60rem; ">
                {% if comment.user.profile_photo_path %}
                <img class="card-img-top img-responsive" src="{{comment.user.profile_photo_path}}" alt="" class="img-thumbnail"></img>
                {% endif %}
                <div class="card-title">
                    <h3><span class="badge badge-dark"></span><b><i>{{comment.user.username}}</i></b></h3>
                </div>
                <div class="card-body">
                    <p>{{comment.comment}}</p>
                </div>
            </div>
        {% endfor %}
{% endmacro %}