{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/pitch.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/79cafd0f3e.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <h2>{{pitch.pitch_title}}</h2>
                <hr>
                <p>{{pitch.pitch_content}}</p>
                <hr>
                <span class="fa-stack fa-lg">
                    <a href="/pitch/{{pitch.id}}?like=1">
                        <i class="fa fa-thumbs-up"></i>
                    </a>{{pitch.likes}} 
                    
                    <a href="/pitch/{{pitch.id}}?dislike=1">
                        <i class="fa fa-thumbs-down"></i>
                    </a>{{pitch.dislikes}} 
                </span>
                
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div style="margin-top: 50px;">
                {{wtf.quick_form(comment_form)}}
            </div>
        </div>
    </div>
</div>
{% endblock %}